
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="login.component.css">
    <title>Modern Login Page | AsmrProg</title>
</head>

<body>
  <div >
    
  </div>

    <div class="container" [ngClass]="isSigndivVisible ? 'active':'' " id="container">
        <div class="form-container Register" >
            <form>
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <label for="name">Name</label>
                <input name="Name"[(ngModel)]="UserRegisterObj.Username"  type="text" placeholder="Name">

                <label for="email">Email</label>
                <input name="Email"[(ngModel)]="UserRegisterObj.Email" type="email" placeholder="Email">

                <label for="email">PhoneNo</label>
                <input name="PhoneNo"[(ngModel)]="UserRegisterObj.Phoneno" type="email" placeholder="PhoneNo">

                <label for="password">Password</label>
                <input name="Password"[(ngModel)]="UserRegisterObj.Password" type="password" placeholder="Password">

                <button (click)="onRegister();">Register</button>

                                <!-- register Success Message -->
                <div *ngIf="RegisterSuccessMessage" class="alert-success">
                    {{ RegisterSuccessMessage }}
                </div>
                
                <!-- register Error Message -->
                <div *ngIf="RegisterErrorMessage" class=" alert-danger">
                    {{ RegisterErrorMessage }}
                </div>
         </form>
         

        </div>
        <div class="form-container login"  >
            <form>
                <h1>Login In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input name="Email"[(ngModel)]="UserLoginObj.Email" type="email" placeholder="Email">
                <input  name="Password"[(ngModel)]="UserLoginObj.Password"type="password" placeholder="Password">
                <a href="#">→ Forget Your Password? ←</a>
                <button (click)="OnLogin();">Login In</button>

                                <!-- Login Success Message -->
              <div *ngIf="LoginSuccessMessage" class="alert-success">
                 {{ LoginSuccessMessage }}
             </div>
                    
              <!-- Login Error Message -->
              <div *ngIf="LoginErrorMessage" class=" alert-danger">
              {{ LoginErrorMessage }}
              </div>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back To VMV</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login" ((click))="isSigndivVisible=false">Login In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register" (click)="isSigndivVisible=true" >Register</button>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>